@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>

<html>
<head >
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body   >



    <center>
        <h1 style="color:white"><i>  Bienvenido al Sistema Nutriecommerce</i></h1>

        <img src="@Url.Content("~/perronutrioton1.png")" width="500px" height="470px" alt="imgf"
    </center>
</body>
</html>
